.overlay {
    background-color: rgba(221, 53, 53, 0.7);
}

.modal {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 0;
    border: none;
    background: transparent;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.closeButton:hover {
    color: #ff0000;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}